.tags ul {
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 var(--size--m);
}
.tags ul li {
  font-size: 0.55rem;
  font-size: clamp(0.5rem, 1vw + 0.25rem, 0.65rem);
  display: inline-block;
  margin: 0.25rem;
  padding: 0.2rem 0.6rem;
}
.hero .tags ul {
  font-size: 0.7rem;
  font-size: clamp(0.5rem, 1vw + 0.25rem, 0.75rem);
  /* padding: 2rem 1.4rem 0.5rem; */
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 2.5rem 1.5rem 0.5rem;
}
.hero .buttons {
  margin: 3.75rem 1.7rem;
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
  align-items: center;
}

h1 {
  font-size: 10rem;
  font-size: clamp(3rem, 4vw + 1.75rem, 10rem);
  margin: 1rem 0 0;
}
h2 {
  font-size: 2.75rem;
  font-size: clamp(1.5rem, 1vw + 1.125rem, 2.75rem);
  margin: 0 0 var(--size--s);
  display: flex;
  align-items: center;
}
h3 {
  font-size: 1.5rem;
  font-size: clamp(0.875rem, 1vw + 0.5rem, 1.5rem);
  margin: 0 0 var(--size--l);
}
h4 {
  font-size: clamp(0.667rem, 1vw + 0.125rem, 1.25rem);
  margin: 0 0 var(--size--m);
}
.detail .label,
.detail .value {
  font-size: clamp(0.667rem, 1vw + 0.125rem, 0.9rem);
  padding: 0.9em 0;
}
.detail .label {
  font-weight: 500;
  padding-inline: 1.65em;
}
.detail .value {
  padding-inline: 1.65em;
}
h4 em {
  font-size: 0.8em;
  font-size: clamp(0.5rem, 1vw + 0.25rem, 0.833rem);
  margin: 0 0.33em;
}
.text p {
  margin: 0 0 var(--size--xl);
}
.text p:has(+ .detail) {
  margin: 0 0 var(--size--xxl);
}
.text p:has(+ p) {
  margin: 0 0 var(--size--l);
}
.text p:has(+ ul) {
  margin: 0 0 var(--size--s);
}
.text ul li {
  margin: 0 0 var(--size--m);
}
.text ul {
  margin: 0 0 var(--size--xxl);
}
.caption,
.text p,
.text ul li {
  font-size: clamp(0.667rem, 1vw + 0.125rem, 1rem);
}
.work .text {
  margin: 0 auto;
  padding: 0;
}
.work .block-content {
  margin: 5em 0 0;
  /* manually overridden in style for final image*/
}

hr {
  margin: 0 0 var(--size--xl);
}
.block .gt,
.block .so,
.block .zs,
.block .ec {
  height: clamp(2rem, 1vw + 1.75rem, 3rem);
  width: clamp(2rem, 1vw + 1.75rem, 3rem);
  margin-right: 0.9rem;
  border-radius: 12px;
  display: inline-block;
}
.hero p {
  font-size: 3rem;
  font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
  padding: 0 0.55rem;
}
.hero ul li {
  font-size: 0.9rem;
  font-size: clamp(0.5rem, 1vw + 0.25rem, 0.917rem);
  padding: 0.2rem 0.6rem 0.45rem;
}
.hero .email a,
.hero .email span {
  font-size: clamp(0.667rem, 1vw + 0.125rem, 1rem);
}

.main {
  display: flex;
}
.blocks {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 12rem);
}
.block {
  min-height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work .block {
  min-height: unset;
}
.work .block .frame {
  margin: 0 auto var(--size--xl);
}
.work .block .frame:has(+ .caption) {
  margin: 0 auto var(--size--xs);
}
.work .caption {
  margin: 0 auto var(--size--xl);
}

.block-content {
  padding: 1vh 1vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100%;
  padding-bottom: 5vh;
}
.hero.block-content {
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.hero > div {
  padding: 0.4rem;
}
.slide {
  min-width: 50%;
  max-width: 100%;
}
.work .slide {
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

.detail {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* width: fit-content; */
  margin: 0 auto;
}
.case-title > h2 {
  margin: 0;
}
.frame {
  width: 100%;
  max-width: 1268px;
  margin: 0 auto;
}
.text {
  min-width: 70ch;
  max-width: 70ch;
  margin-top: 5rem;
  padding: 0.4rem;
}
.text:has(> .card) {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text .card {
  display: flex;
  flex-direction: column;
}

.card h2 {
  margin: 0 0 var(--size--s);
}
.card h3 {
  margin: 0 0 var(--size--s);
}
.card p {
  margin: 0 0 var(--size--l);
}
.card p:has(+ p) {
  margin: 0 0 var(--size--m);
}
.card ul {
  margin: 0 0 var(--size--xl);
}
.card .view-more {
  margin: 0 0 var(--size--l);
}

@media only screen and (max-width: 2470px) {
  .home section#work > .block > .block-content {
    row-gap: var(--size--xl);
  }
}

.text p + ul {
  padding-left: 1em;
}
.text p + ul li {
  font-size: 0.75em;
  margin-bottom: 0.75em;
  margin-top: 0.75rem;
  color: rgba(255, 255, 255, 0.9);
}
.text ul li em {
  font-weight: 600;
}
.text:has(> .project-details) {
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-images {
  display: flex;
  gap: 1rem;
  height: 100%;
}
.about-images .frame:nth-child(1) {
  margin-bottom: 40%;
}
.about-images .frame:nth-child(2) {
  margin: 20% 0;
}
.about-images .frame:nth-child(3) {
  margin-top: 40%;
}
footer {
  height: 3rem;
  padding: 0.66rem 1rem;
  width: 100%;
  border-left-width: 1rem;
  border-left-style: solid;
  display: flex;
  align-items: center;
  gap: 1rem;
  line-height: 0;
}
footer a img {
  height: 1rem;
}
section {
  /* scroll-margin: -1vh; */
}
mark {
  padding: 0 2px;
  /* border-radius: 1px 0.125em 0.5em 0; */
}
.block {
  border-left-width: 1rem;
  border-left-style: solid;
}
.block#about .text h2 {
  margin: 0 0 1.125rem;
}

@media only screen and (min-width: 2500px) {
  .work .case-title.block-content {
    margin: 1em 0 2em 0;
  }
  .work .case-title .text {
    padding-top: 6rem;
  }
  .work .case-title .slide {
    min-width: 50%;
  }
}
@media only screen and (min-width: 2100px) {
  h1 {
    font-size: 10rem;
  }
  h2 {
    font-size: 2.75rem;
  }
  h3 {
    font-size: 1.5rem;
    margin: 0 0 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h4 em {
    font-size: 0.8em;
  }
  .detail .label {
    font-size: 0.9rem;
  }
  .text p {
    font-size: 1rem;
  }
  .text ul li {
    font-size: 0.75rem;
  }
  .block .gt,
  .block .so,
  .block .zs,
  .block .ec {
    height: 3rem;
    width: 3rem;
  }
  .hero p {
    font-size: 3rem;
    margin: 0 0 0 1.75rem;
    padding: 0;
  }
  .hero ul li {
    font-size: 0.9rem;
    padding: 0.2rem 0.6rem 0.45rem;
  }
}

@media only screen and (max-width: 2050px) {
  .text {
    margin-top: 3.5rem;
  }
  .text .tags ul li {
    padding: 0.125rm 0.25rem;
  }
  .about-images .frame:nth-child(1) {
    margin-bottom: 0;
  }
  .about-images .frame:nth-child(2) {
    margin: 0;
  }
  .about-images .frame:nth-child(3) {
    margin-top: 0;
  }
}
@media only screen and (max-width: 1475px) {
  .text {
    margin-top: 0;
  }
}
@media only screen and (max-width: 1175px) {
  nav {
    display: none;
  }
  .blocks {
    width: 100vw;
  }
  .text {
    margin-top: 1rem;
  }
  .hero .tags ul {
    margin: 0 0.4rem;
  }
  .hero .buttons {
    margin: 3rem 0.7rem;
  }
  .btn:hover {
    outline: none !important;
    transform: scale(1.05) !important;
  }
}
@media only screen and (max-height: 900px) {
  .text .tags ul li {
    padding: 0.125rem 0.25rem;
  }
}
@media only screen and (max-width: 950px) {
  .btn {
    font-size: 0.75rem;
    padding: 0.6rem 1.5rem;
  }
  .hero .buttons {
    margin: 2rem 0.5rem;
  }
  .block,
  footer {
    border-left-width: 2px !important;
  }
}
@media only screen and (max-width: 800px) {
  .hero br {
    display: none;
  }
  .hero ul li {
    padding: 0.25rem 0.5rem;
    margin: 0;
  }
  .hero .tags ul {
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.25rem;
    margin: 0;
  }
  div.caption {
    transform: none;
    padding: 0.25rem 0.5rem;
  }
  .slide {
    width: 100%;
  }
  .text {
    min-width: 100%;
  }
}
@media only screen and (max-width: 900px) and (orientation: landscape) {
}
@media only screen and (max-height: 900px) {
  h2 {
    margin: 0 0 1rem;
  }
  h3 {
    margin: 0 0 1rem;
  }
  .text .tags {
    margin: 0.5rem -0.4rem;
  }
  .text .tags ul li {
    margin: 0.125rem;
  }
}

@media only screen and (max-width: 429px) {
  .hero p {
    padding: 0;
  }
  .hero .buttons {
    margin: 2rem 0 0;
  }
  .hero .buttons > * {
    width: 100%;
  }
}
