:root {
  --color-text: #ffffff;
  --color-bg-hero: #5e8b98;
  --color-border-hero: #74e3ef;
  --color-tag-hero: #272430;
  --color-bg-sophos: #013fa3;
  --color-bg-alt-sophos: #113267;
  --color-mark-sophos: #7a98c9;
  --color-mark-fade-sophos: #1b57b505;
  --color-border-sophos: #ffffff;
  --color-tag-sophos: #002f79;
  --color-bg-zibasec: #079a63;
  --color-border-zibasec: #f7c625;
  --color-tag-zibasec: #0a714a;
  --color-mark-zibasec: #1a7b57;
  --color-mark-fade-zibasec: #1a7b5730;
  --color-bg-georgiatech: #545454;
  --color-bg-alt-georgiatech: #393838;
  --color-border-georgiatech: #eaaa00;
  --color-tag-georgiatech: #bd8c05;
  --color-mark-georgiatech: #898989;
  --color-mark-fade-georgiatech: #898989bb;
  --color-bg-about: #9f9289;
  --color-border-about: #74e3ef;
  --color-mark-about: #3da2ae;
  --color-mark-fade-about: #3da2ae1a;
  --color-bg-footer: #136d8b;
  --color-border-footer: #ededed;
  --size--xl: 2.618em;
  --size--xxl: 4.235em;
  --size--xs: 0.272em;
  --size--m: 1em;
  --size--s: 0.618em;
  --size--l: 1.618em;
  --size--xxs: 0.129em;
  --size--defaultlineheight: 1.272em;
  --size--display1lineheight: 1.129em;
  --size--bodylineheight: 1.618em;
}
