:root {
  --color-text: #ffffff;
  --color-bg-hero: #5e8b98;
  --color-border-hero: #74e3ef;
  --color-tag-hero: #272430;
  --color-bg-sophos: #013fa3;
  --color-bg-alt-sophos: #113267;
  --color-mark-sophos: #1b57b5;
  --color-mark-fade-sophos: #1b57b5e6;
  --color-border-sophos: #ffffff;
  --color-tag-sophos: #002f79;
  --color-bg-zibasec: #079a63;
  --color-bg-alt-zibasec: #0a8a5b;
  --color-border-zibasec: #f7c625;
  --color-tag-zibasec: #0a714a;
  --color-mark-zibasec: #13a971;
  --color-mark-fade-zibasec: #13a971e6;
  --color-bg-eclypsium: #a13e21;
  --color-bg-alt-eclypsium: #88341c;
  --color-border-eclypsium: #f05123;
  --color-tag-eclypsium: #6f2a16;
  --color-mark-eclypsium: #b94d2c;
  --color-mark-fade-eclypsium: #b94d2ce6;
  --color-bg-georgiatech: #545454;
  --color-bg-alt-georgiatech: #474747;
  --color-border-georgiatech: #eaaa00;
  --color-tag-georgiatech: #bd8c05;
  --color-mark-georgiatech: #6a6a6a;
  --color-mark-fade-georgiatech: #6a6a6ae6;
  --color-nav-eclypsium: #ca441e;
  --color-nav-sophos: #4283e8;
  --color-nav-zibasec: #01e0ac;
  --color-nav-georgiatech: #eaaa01;
  --color-nav-border-eclypsium: #ca441e;
  --color-nav-text-eclypsium: #ff5e30;
  --color-nav-border-sophos: #013fa3;
  --color-nav-text-sophos: #4283e8;
  --color-nav-border-zibasec: #01e0ac;
  --color-nav-text-zibasec: #01e0ac;
  --color-nav-border-georgiatech: #eaaa01;
  --color-nav-text-georgiatech: #eaaa01;
  --color-bg-about: #9f9289;
  --color-border-about: #74e3ef;
  --color-bg-footer: #136d8b;
  --color-border-footer: #ededed;
  --color-mark-about: #8b8078;
  --color-mark-fade-about: #8b8078e6;
  --size--xl: 2.618em;
  --size--xxl: 4.235em;
  --size--xs: 0.272em;
  --size--m: 1em;
  --size--s: 0.618em;
  --size--l: 1.618em;
  --size--xxs: 0.129em;
  --size--defaultlineheight: 1.272em;
  --size--display1lineheight: 1.129em;
  --size--bodylineheight: 1.618em;
}
